
.vs/Redes/v15/Server/sqlite3/db.lock
.vs/Redes/v15/Server/sqlite3/storage.ide
Temp
Library
Library/PlayerDataCache
Library/PlayerDataCache/Win/ScriptsOnlyCache.yaml
Library/PlayerDataCache/Win/Data/sharedassets3.assets
Library/PlayerDataCache/Win/Data/sharedassets2.assets
Library/PlayerDataCache/Win/Data/sharedassets1.assets
Library/PlayerDataCache/Win/Data/sharedassets0.assets
Library/PlayerDataCache/Win/Data/resources.assets.resS
Library/PlayerDataCache/Win/Data/resources.assets
Library/PlayerDataCache/Win/Data/Managed/UnityEngine.UI.dll
Library/PlayerDataCache/Win/Data/Managed/Unity.Timeline.dll
Library/PlayerDataCache/Win/Data/Managed/Unity.TextMeshPro.dll
Library/PlayerDataCache/Win/Data/Managed/PhotonWebSocket.dll
Library/PlayerDataCache/Win/Data/Managed/PhotonUnityNetworking.Utilities.dll
Library/PlayerDataCache/Win/Data/Managed/PhotonUnityNetworking.dll
Library/PlayerDataCache/Win/Data/Managed/PhotonUnityNetworking.Demos.dll
Library/PlayerDataCache/Win/Data/Managed/PhotonRealtime.dll
Library/PlayerDataCache/Win/Data/Managed/PhotonChat.dll
Library/PlayerDataCache/Win/Data/Managed/Assembly-CSharp.pdb
Library/PlayerDataCache/Win/Data/Managed/Assembly-CSharp.dll
Library/ScriptAssemblies
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ShaderCache.db
*.log
